<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社區人臉辨識系統 登入</title>
</head>
<body>
    <h1>系統登入</h1>
    <form id="loginForm" action="/login" method="POST">
        <!-- for => 與同id的元素連接，點擊時能自動引導到該元素 -->
        <label for="username">使用者名稱：</label>
        <!-- 使用者名稱輸入 -->
        <!-- 
            type => 欄位種類
            id => 元素識別碼
            name => 欄位名稱(後端接收用)
            placeholder => 顯示提示字
            required => 必填欄位設定 
        -->
        <input type="text" id="username" name="username" placeholder="輸入使用者名稱" required>
        <br>
        <!-- 密碼輸入 -->
         <label for="password">密碼：</label>
        <input type="password" id="password" name="password" placeholder="輸入密碼" required>
        <br><br>
        <!-- 登入按鈕 -->
         <button type="submit">登入</button>
    </form>

    <!-- 錯誤信息顯示區 -->
    <div id="loginMessage"></div>

    <!-- 引入 JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>